body{
    margin: 0;
    padding: 0;
}

.header h1{
    border: 2px solid red;

}

.header div{
    text-align: center;
    border: 2px solid red;
}

.header{
    background-color: aquamarine;
    border: 2px solid red;

}