* {
	box-sizing: border-box;
	font-family: product_sansregular;
}

body{
    margin: 0;
    padding: 0;
}

.header div{ 
    text-align: center; 
    border: 2px solid black;
    background-color: black;
    margin-bottom: 20px;
} 

.header h1{
    display: inline-block;
    font-size: 45px;
    margin: 10px;

    background: linear-gradient(to right,#FF5F6D,#FFC371);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
